/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 2

   Special Effects style sheet
   Author: Matthew Dowell
   Date:   11/02/2016

   Filename:         wceffects.css
   Supporting Files: 

*/


/* Box Shadow Styles */

body{
	
		-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
	 -webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
			 box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
			 
}


/*
2.	 Go to the wceffects.css file and create a shadow effect for the body element. The
effect should contain two box shadows, both with a color value of (31, 61, 31) and
an opacity of 0.9. Place the first shadow with a horizontal offset of 20 pixels, a verti-
cal offset of 0 pixels, and a blur of 25 pixels. Do the same for the second shadow,
except place the shadow with a horizontal offset of -20 pixels.

*/

aside div{
 				/* IE 5-7 */
 			    filter: alpha(opacity=75);
 			    /* IE 8 */
 		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
			   opacity: 0.75; 
	
	   -moz-box-shadow: rgba(101, 101, 101, 0.7) 5px 5px 10px;
	-webkit-box-shadow: rgba(101, 101, 101, 0.7) 5px 5px 10px;
			box-shadow: rgba(101, 101, 101, 0.7) 5px 5px 10px;
}
/*
3.	 Set the opacity of the div elements nested within the aside elements to 75%. Use
both the CSS3 opacity style and the IE Alpha filter. Add a box shadow that has a
color value of (101, 101, 101) with an opacity of 0.7. Set the horizontal and vertical
offsets to 5 pixels and the blur to 10 pixels. You do not have to add an IE filter for the
box shadow.

*/


/*
4. Save your changes to the file, and then return to the willet.htm file in your text edi-
tor. Add a link to the wceffects.css style sheet file, using the style sheet for screen
devices that have a minimum width of 501 pixels. Add the same media query for the
wclayout.css style sheet file.
*/

